.stopwrap{
    text-align: center;
}
#scene {
    width: 70vw;
    border: 3px solid black;
    height: 70vh;
    margin: auto;
    background-color: aqua;
}

img {
    height: 40vh;
    margin-top: 30vh;
}

.onejump {
    animation: onejump 2s forwards;
}

@keyframes onejump {
    50% {
        transform: translate(0, -30vh);
    }
    100%{
        transform: translate(0, 0)
    }
}

.jumping {
    animation: jumping 2s infinite;
    animation-play-state: running
}
@keyframes jumping {
    50% {
        transform: translate(0, -30vh);
    }
    100%{
        transform: translate(0, 0)
    }
}

.moveit {
    animation: moveit 5s infinite cubic-bezier(.36, -0.65, .36, 1.04);
    animation-play-state: running;
}

@keyframes moveit {
    50% {
        transform: translate(60vw, 0)
    }
}

.moveto30 {
    animation: moveto30 2s forwards;
}

@keyframes moveto30 {

    100% {
        transform: translate(20vw, 0)
    }
}

.movefrom30 {
    animation: movefrom30 2s forwards;
}

@keyframes movefrom30 {
    from {
        transform: translate(20vw, 0)
    }

    to {
        transform: translate(0, 0)
    }
}

.fade {
    animation: fade 2s forwards linear;
    animation-play-state: running;
}

@keyframes fade {
    100%{
        opacity:0.25;
    }
}

.glow {
    animation: glow 2s infinite;
}

@keyframes glow {
    50% {
        border-radius: 50%;
        background-color: transparent;
        box-shadow:
            0 0 10px 10px #fff,
            0 0 100px 60px #f0f,
            0 0 140px 90px #0ff;
    }
    0%, 100%{border-radius: 50%;
        background-color: transparent;
        box-shadow:
            0 0 5px 5px #fff,
            0 0 50px 30px #f0f,
            0 0 75px 45px #0ff;
}
}

.shot {
    animation: shot .75s forwards;
}

@keyframes shot {
    100% {
        transform: translate(15vh, 15vh) rotate(90deg)
    }
}

.shake {
    animation: shake 1s infinite;
    animation-timing-function: linear;
}

@keyframes shake {

    10%,
    90%,
    0% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0) rotate(-2deg);
    }

    0%,
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.grow {
    animation: grow 3s forwards;
    animation-timing-function: linear
}

@keyframes grow {

    10%,
    40% {
        transform: scale(1.1) translate(5vh, -5vh)
    }

    20% {
        transform: scale(1) translate(5vh, -5vh)
    }

    30%,
    60% {
        transform: scale(1.3) translate(5vh, -5vh)
    }

    50%,
    80% {
        transform: scale(1.5) translate(5vh, -8vh)
    }

    70%,
    100% {
        transform: scale(1.7) translate(5vh, -8vh)
    }

    90% {
        transform: scale(1.9) translate(5vh, -8vh)
    }
}

.btnwrapper{
    width: 100vw;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
}

button {
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#stop {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 2vh;
